/*
-- Estilos CSS - Website da Empresa
*/

/*
-- Padrões e Reset
*/

/*
-- Tipografia e Cores
*/
@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');
body {
  background-color: rgb(25, 25, 25);
  font-size: 16px;
  font-family: "Jost", Helvetica, Arial, sans-serif;
  color: rgba(245, 245, 245, 1);
}
/*
-- Estrutura
*/

/*
-- Estilos específicos de Seção
*/

/*
-- Formulários
*/

/*
-- Tabelas
*/

/*
-- Classes de Uso Geral
*/
/* RGB */
$color1: rgba(255, 240, 30, 1);
$color2: rgba(240, 30, 0, 1);
$color3: rgba(245, 245, 245, 1);
$color4: rgba(155, 155, 155, 1);
$color5: rgba(65, 65, 65, 1);
$color6: rgba(5, 5, 5, 1);
