a:link {
    color: rgba(10, 140, 175, 1);
    text-decoration: none;
}

a:visited {
    color: rgba(75, 20, 30, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(200, 80, 110, 1);
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:active {
    color: rgba(30, 40, 75, 1);
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

#artigo {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 242, 242, 1);
}

h2 {
    font-size: 4em;
    line-height: 1em;
    font-weight: 600;
    text-align: center;
    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: rgba(230, 240, 240, 1);
}

h3 {
    font-weight: 700;
    font-size: 3em;
    margin-top: -20px;
    margin-bottom: 70px;
    color: rgb(10, 30, 50);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
}

#menu-bar {
    background-color: rgba(230, 240, 240, 1);
}

.menu-itens {
    min-width: 650px;
    padding: 7px 7px 3px 10px;
}

.inicial-pag {
    border-radius: 10px;
    padding: 10px;
    margin-right: 2em;
    background-color: rgb(255, 210, 210, 0.3);
}

.sobre-pag {
    border-radius: 10px;
    padding: 10px;
    margin-right: 2em;
    background-color: rgb(255, 210, 210, 0.3);
}

.contato-pag {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 210, 210, 0.3);
}

#inicio-topo {
    background-image: url("images3_4/perfil.jpg");
    background-position: 50% 40%;
    background-size: auto;
    padding: 70px 0px;
    border-top: 3px solid rgb(10, 140, 175);
    border-bottom: 3px solid rgb(75, 20, 30);
}

.conteudo-topo {
    max-width: 650px;
}

.texto-titulo {
    max-width: 100%;
    text-align: center;
    color: rgba(230, 240, 240, 1);
    background-color: rgba(30, 40, 75, 1);
    padding: 7px 15px;
    border-radius: 45px;
    font-weight: 100;
    line-height: 35px;
    margin: 0px 107px;
}

section {
    display: flex;
    flex-direction: column;
}


/*TOPO*/

.olhos-tabela {
    width: 800px;
    min-width: 450px;
    padding: 70px 0px 20px;
    margin: 50px auto;
    align-items: center;
}

.img-olho {
    height: 350px;
    width: 350px;
    object-fit: cover;
    background-image: linear-gradient(270deg, rgb(230, 240, 240), rgb(200, 80, 110), rgb(10, 140, 175), rgb(75, 20, 30), rgb(30, 40, 75));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 4px;
    border-radius: 50vh;
    margin: 10px;
}

.lista-cores-olhos {
    display: flex;
    max-width: 425px;
    margin: 50px auto;
    text-align: justify;
    border-radius: 5em;
    padding: 1em 3.5em 1em 2em;
    background-color: rgba(56, 211, 223, 0.034);
}

.azul {
    color: rgb(27, 132, 253);
}

.verde {
    color: rgb(117, 189, 1);
}

.vermelho {
    color: rgb(255, 56, 56);
}

.laranja {
    color: rgb(255, 153, 0);
}

.roxo {
    color: rgb(99, 9, 202);
}

.para-01,
.para-02,
.para-03 {
    max-width: 500px;
    margin: auto;
    text-align: justify;
    line-height: 25px;
}

table {
    background-image: url("images3_4/fundo-tabela.jpg");
    background-position: 100% 80%;
    background-size: 300%;
    padding: 2px;
    border-radius: 10px;
    margin-top: 30px;
}

.reino-etc {
    height: auto;
    width: 220px;
    padding: 1px 0px;
    border: 2px solid rgba(75, 20, 30, 1);
    border-radius: 10px;
    line-height: 25px;
    font-weight: 700;
    margin: auto;
}

.divisao-01 {
    border-bottom: 3px solid rgb(10, 140, 175);
}

.violenta {
    width: 900px;
    min-width: 450px;
    padding: 70px 0px 20px;
    margin: 50px auto;
    align-items: center;
}

.citacao {
    width: 400px;
    margin: auto;
    padding-bottom: 40px;
    font-size: 24px;
    text-align: justify;
}

.img-linda {
    height: 350px;
    width: 350px;
    object-fit: cover;
    background-image: linear-gradient(270deg, rgb(230, 240, 240), rgb(200, 80, 110), rgb(10, 140, 175), rgb(75, 20, 30), rgb(30, 40, 75));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 4px;
    border-radius: 50vh;
    margin-bottom: 70px;
}

.video-youtube {
    height: auto;
    width: auto;
    object-fit: cover;
    background-image: linear-gradient(220deg, rgb(75, 20, 30), rgb(200, 80, 110), rgb(230, 240, 240), rgb(10, 140, 175), rgb(30, 40, 75));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 6px 7px 3px 7px;
    border-radius: 1vh;
    margin: 50px auto 0px;
    align-items: center;
}

.referencias {
    min-width: 660px;
    padding: 7px 7px 3px 10px;
    width: 900px;
    margin: 50px auto;
    align-items: center;
    text-align: center;
}

.bio-lista {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
}

.nat-geo {
    border-radius: 10px;
    padding: 10px;
    margin-right: 2em;
    background-color: rgb(255, 210, 210, 0.3);
}

.quadrinho {
    border-radius: 10px;
    padding: 10px;
    margin-right: 2em;
    background-color: rgb(255, 210, 210, 0.3);
}

.wikipedia {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 210, 210, 0.3);
}

footer {
    max-width: 650px;
    padding: 10px 0px 5px;
    margin: auto;
    text-align: center;
}


/* RGB */

$color1: rgba(230,
240,
240,
1);
$color2: rgba(200,
80,
110,
1);
$color3: rgba(10,
140,
175,
1);
$color4: rgba(75,
20,
30,
1);
$color5: rgba(30,
40,
75,
1);

/* HEX */

$color1: #e6f0f0ff;
$color2: #c8506eff;
$color3: #0a8cafff;
$color4: #4b141eff;
$color5: #1e284bff;

/* GRADIENT */

$gradient-top: linear-gradient(0deg,
#e6f0f0ff,
#c8506eff,
#0a8cafff,
#4b141eff,
#1e284bff);
$gradient-right: linear-gradient(90deg,
#e6f0f0ff,
#c8506eff,
#0a8cafff,
#4b141eff,
#1e284bff);
$gradient-bottom: linear-gradient(180deg,
#e6f0f0ff,
#c8506eff,
#0a8cafff,
#4b141eff,
#1e284bff);
$gradient-left: linear-gradient(270deg,
#e6f0f0ff,
#c8506eff,
#0a8cafff,
#4b141eff,
#1e284bff);
$gradient-top-right: linear-gradient(45deg,
#e6f0f0ff,
#c8506eff,
#0a8cafff,
#4b141eff,
#1e284bff);
$gradient-bottom-right: linear-gradient(135deg,
#e6f0f0ff,
#c8506eff,
#0a8cafff,
#4b141eff,
#1e284bff);
$gradient-top-left: linear-gradient(225deg,
#e6f0f0ff,
#c8506eff,
#0a8cafff,
#4b141eff,
#1e284bff);
$gradient-bottom-left: linear-gradient(315deg,
#e6f0f0ff,
#c8506eff,
#0a8cafff,
#4b141eff,
#1e284bff);
$gradient-radial: radial-gradient(#e6f0f0ff,
#c8506eff,
#0a8cafff,
#4b141eff,
#1e284bff);