* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #4c0098 55%, #ffdb3a  45%);
  background-repeat: no-repeat;
  color: #f0f0f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 100vh;
}

h1 {
  padding: 20px;
}

h2 {
  text-align: center;
  text-shadow: 4px 4px 2px rgb(50, 50, 50);
}

div#btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100px;
  padding: 8px;
}